@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ccc;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  text-align: center;
  justify-content: center;
}

img {
  margin-right: 0;
  display: flex;
  max-width: 8%;
}

h3 {
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
}

ul {
  width: 100%;
  display: block;
}

li {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}

a {
  position: absolute;
  right: 2em;
  text-align: right;
  text-decoration: none;
  color: #fff;
  padding: .5em .75em;
  background-color: #444;
}

p {
  max-width: 35%;
  margin-left: 2em;
  margin-right: 2em;
}

hgroup {
  margin-left: 1em;
}
